/* .menuIcon{
    font-size: 20px;
}

@media (max-width:999px){
    .menuIcon{
        margin-left: 80%;
    }
}

@media (max-width:767px){
    .menuIcon{
        margin-left: 10%;
    }
}

@media (max-width:396px){
    .menuIcon{
        margin-left: 9%;
    }
}

@media (max-width:336px){
    .menuIcon{
        margin-left: 0%;
    }
}

@media (min-width:999px){
    .menuIcon{
        display: none;
    }
}

@media (max-width:999px){
    .navbarItemContainer{
        display: none;
    }
}

@media (max-width:999px){
    .socialMediaContainer{
        display: none;
    }
} */

/* .drawerLogoContainer{
    width: 154px;
    margin-top: 15px;
    margin-right: auto;
}

.antTypography{
    font-family: -apple-system, SanFranciscoText, sans-serif;
} */

/* @media (min-width:1000px){
    .antTypography{
        margin-right: 50px;
    }
} */
