/* .antTypography{
    font-family: -apple-system, SanFranciscoText, sans-serif;
    font-size: 15px !important;
    font-weight: 300 !important;
}

.faqAnswer{
    text-align: justify;
    font-weight: 300;
} */
