.faqCollapseContainer{
    margin: 25px 0;
    background: transparent;
    font-family: -apple-system, SanFranciscoText, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1D1D1F;
    text-align: justify;
}

.antTypography{
    font-family: -apple-system, SanFranciscoText, sans-serif;
    font-size: 15px !important;
    font-weight: 300 !important;
}

.faqAnswer{
    text-align: justify;
    font-weight: 300;
}