.antLayoutHeader{
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 88px;
    padding: 0px 10px;
}

@media (min-width:1200px){
    .antLayoutHeader{
        padding: 0px 20px;
    }
}

@media (max-width:999px){
    .antLayoutHeader{
        padding: 0px 40px;
    }
}

@media (max-width:360px){
    .antLayoutHeader{
        padding: 0px 30px;
    }
}

.antLayoutContent{
    background-color: white;
}

.antLayoutFooter{
    background-color: #F8FDFF;
}
