.ant-carousel .slick-slider .slick-dots{
    background-color: #ff4ef6 !important;
}

.home-page-main-title{
    font-family: -apple-system, SanFranciscoText, sans-serif;
    color: #32325D;
    font-size: 43px;
    font-weight: bold
}