.footerMainTitle{
    font-family: -apple-system, SanFranciscoText, sans-serif;
    color: #3D317C;
    font-size: 36px;
    font-weight: bold
}

.footerSecondaryTitle{
    font-family: -apple-system, SanFranciscoText, sans-serif;
    color: #3D317C;
    font-size: 15px;
    font-weight: 500
}

.antIcon{
    color: white;
}

.antButton{
    width: 30px;
    border: none;
}

.antTypography{
    font-family: -apple-system, SanFranciscoText, sans-serif;
    color: #6D7893;
    font-size: 14px;
    font-weight: 500
}

.footerLink{
    font-family: -apple-system, SanFranciscoText, sans-serif;
    color: #3D317C;
    font-size: 15px;
    font-weight: 500
}

.sefLink:active{
    font-family: -apple-system, SanFranciscoText, sans-serif;
    color: #3D317C;
    font-size: 15px;
    font-weight: 500  
}
