.antLayoutHeader{
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 88px;
}

.antLayoutContent{
    background-color: white;
}

.antLayoutFooter{
    background-color: #F8FDFF;
}